@import "tailwindcss";

/* Smooth scrool */
html {
  scroll-behavior: smooth;
}

ol,
ul,
menu {
  list-style: revert;
}

.ant-tree-draggable-icon {
  display: none !important;
}

.ant-tree {
  height: 100% !important;
}

.ant-tree-list {
  height: 100%;
}

.ant-tree-list-holder {
  height: 100%;
}

.ant-tree-list-holder-inner {
  min-height: 100%;
}

.ant-tree .ant-tree-node-content-wrapper {
  padding-inline: 0 !important;
}

.ant-tree-node-content-wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.markdown-body img {
  display: unset;
}
